extends fullscreen

block styles
	!= css('home')

block content
	div#main-navigation-menu

		div.entrypoints.row
			.col-sm-4
				a(href='/msr')
					div.entrypoint
						.title MSR
			.col-sm-4
				a(href='/chris')
					div.entrypoint
						.title Property Info
			.col-sm-4
				a(href='#')
					div.entrypoint
						.title WIP