
@navbar-bgc: #3F5161;
@navbar-c: #fff;

@scndr-bgc: #5c8fab;
@scndr-bgc-hover: #6CB7E0;

@cal-month-bgc: @navbar-bgc;

@cal-room : #6ca3ff;
@cal-def : #537ec5;
@cal-prv : #2c4268;
@cal-defprv : #55bdd8;
@cal-revcal : #3d879a;
@cal-events : #209349;

@cal-room : #CCC;
@cal-def : #818181;
@cal-prv : #444;
@cal-defprv : #666;
@cal-revcal : #999;
@cal-events : #797979;

@cal-def-box : rgba(223, 218, 192, 0.76);
@cal-prv-box : #EEE;
@cal-defprv-box : #42586B;
@cal-revcal-box : #985252;
@cal-events-box : #985252;
