@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/ionicons/ionicons";
@import "vendor/bootstrap-social";
@import "themes/default";
@import "vendor/clndr";
@import (css) "vendor/devbridge-autocomplete/content/styles.css";
@import "utils";


// Variables
// ------------------------

@navheight: 50px;

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
  font-family: 'Open Sans'
}

#content {
  padding-top: @navheight;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;

  p,
  ul {
    margin-bottom: 0;
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Safari */
}

// Signin form
// ------------------------

#signin {
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0 0 3px #ccc;
  border-radius:3px;
  margin: 0 auto;

  #home-signin-form {
    header {
      font-size: 28px;
      font-weight: 400;
    }
  }
}




// Navbar
// -------------------------
.navbar {
  height: @navheight;
  position: absolute;

  .navbar-nav ul.dropdown-menu {
    background-color: @navbar-bgc;
  }
}
.navbar.navbar-default {
  background-color: @navbar-bgc;

  .navbar-nav a {
    color: @navbar-c;

  }
  a {
    color: @navbar-c;
  }


}

.collapse.navbar-collapse {
  padding: 0 15px;
}

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: @navheight;
  position: absolute;
  width: 100%;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


// Form containers
.form-container {
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  width: 600px;
  margin: 0 auto;
  border-radius: 6px;

  header {
    background-color: @scndr-bgc;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
  }

  .form-box {
    padding: 25px;

    .form-group {
      display: inline-block;
      width: 100%;

      > label {
        font-weight: 300;
        width: 100%;
        font-size: 15px;
      }

      .events-hotel-input {
        width: auto;
      }
    }

    span.add-on {
      float: left;
      height: 100%;
      padding: 12px 15px;
    }

    .event-date-input input, textarea {
      font-size: 15px;
      font-weight: 100;
      width: auto;
      float: left;
    }

    input, textarea {
      font-size: 15px;
      font-weight: 100;
      width: 100%;
      border: 1px solid #ccc;
      padding: 10px;
      max-width: 100%;
    }

    .form-buttons {
      display: inline-block;
      text-align: right;

      button {
      line-height: normal;
      font-size: 15px;
      font-weight: 100;
      font-family: @basic-font;
    background-color: @scndr-bgc;
    color: #fff;
    border-color: @scndr-bgc;
    border-radius: 3px; 
      }
    }


    .ui-button .ui-button-text {
      line-height: normal;
      font-size: 15px;
      font-weight: 100;
      font-family: @basic-font;
      border-radius: 3px; 

    }
  }
  .btn {
    font-weight: 100;
    font-size: 16px;
  }

  .btn-primary {
    background-color: @scndr-bgc;
    color: #fff;
    border-color: @scndr-bgc; 
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: @scndr-bgc-hover;
    border-color: @scndr-bgc-hover;
  }

  .ui-state-default, .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    background: none;
    background-color: @scndr-bgc;
    color: #fff;
    border-color: @scndr-bgc;
    border-radius: 3px; 
  }

  .ui-state-active, .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    background: none;
    background-color: @navbar-bgc;  
    color: #fff;
    border-color: @navbar-bgc;
    border-radius: 3px; 
  }
}

